
@media (max-width: 548px){
    .open{
        font-size: 2em;
        width: 46px;
    }

    .input-box input{
        width: 260px;
    }

    header button{
        width: fit-content;
        flex-wrap:nowrap;
    }

    .context-menu{
        margin-right: 0%;
    }
}